---
fabric_name: AMS

evpn_ebgp_multihop: 5
evpn_overlay_bgp_rtc: true

mgmt_gateway: 10.6.1.1
mgmt_interface: Management0
mgmt_interface_vrf: mgmt
mgmt_destination_networks:
  - 0.0.0.0/0

p2p_uplinks_qos_profile: P2P-QOS-PROFILE

local_users:
  admin:
    privilege: 15
    role: network-admin
    no_password: true
    sha512_password: $6$82gqIqw8b3nibNrk$MoZO0S8QMQN8uwnR8v48dbGrL0Ec/6q36tSx8y9IsExi4L.HtmokW9rX8VehLxhg542mNTBKqxMBF.LgnCTm4.

snmp_settings:
  location: true

#Consider whether pools or specific IPs would be better..
l3_edge:
#  p2p_links_ip_pools:
#    pool-leaf: 11.1.0.0/24
#    pool-spine: 11.1.1.0/24
#    pool-super-spine: 11.1.2.0/24
  p2p_links_profiles:
    generic-profile:
      mtu: 9214
      bfd: true
      ptp_enable: true
  p2p_links:
      #nodes lists the devices that will interconnect to each other
    - nodes: [ DC1-POD1-LEAF1A, DC1-POD1-LEAF1B ]
      # These ids seem to be incrementing in no particular order, but they aren't duplicated.
      id: 1
      #this list is commensurate to the nodes list above.
      interfaces: [ Ethernet28/1, Ethernet28/1 ]
      # will use this AS as local and remote: local-as 64101 no-prepend replace-as
      as: [ 64101, 64102 ]
      #This shows you can use the pool
      ip: [ 200.200.200.104/24, 200.200.200.204/24 ]
#      ip_pool: pool-leaf
      profile: generic-profile
      # This might be what installs the neighbor as a peer group member of "IPv4-UNDERLAY-PEERS"
      include_in_underlay_protocol: true
      macsec_profile: MACSEC_PROFILE
    - nodes: [ DC1-POD2-LEAF1A, DC2-POD2-LEAF1B ]
      #not sure on what the id is yet, docs says should be unique
      id: 2
      # These match the interfaces used to connect the upstream peers
      interfaces: [ Ethernet28/1, Ethernet28/1 ]
      # these are their AS's.. in order. Obviously referencing a single entry for this will make life easier.
      # this errors:
      # as: [ "{{inventory_hostname.as}}", "{{inventory_hostname.as))" ]
      as: [ 64201, 64202 ]
      ip: [ 200.200.200.103/24, 200.200.200.203/24 ]
      #mtu: 9214
      include_in_underlay_protocol: true
    - nodes: [ DC2-POD1-LEAF1A, DC2-POD1-LEAF1B ]
      id: 10
      interfaces: [ Ethernet28/1, Ethernet28/1 ]
      as: [ 65101, 65102 ]
      ip: [ 200.200.200.102/24, 200.200.200.202/24 ]
      include_in_underlay_protocol: true
    - nodes: [ DC2-POD2-LEAF1A, DC2-POD2-LEAF1B ]
      interfaces: [ Ethernet28/1, Ethernet28/1 ]
      as: [ 65201, 65202 ]
      #This shows you can use specify the IP
      ip: [ 200.200.200.101/24, 200.200.200.201/24 ]
      #this is a snowflake bfd value
      bfd: false      
      profile: generic-profile
      include_in_underlay_protocol: true

p2p_uplinks_mtu: 9214

platform_settings:
  - platforms: [default]
    reload_delay:
      mlag: 300
      non_mlag: 330
  - platforms: [vEOS-LAB]
    raw_eos_cli: |
      interface Loopback1111
        description Loopback created from raw_eos_cli under platform_settings vEOS-LAB
    reload_delay:
      mlag: 300
      non_mlag: 330

custom_structured_configuration_list_merge: 'append'

# Node type definitions
node_type_keys:
  spine:
    type: spine
    default_evpn_role: none
    ip_addressing:
      p2p_uplinks_ip: 'ip_addressing/avd-v2-spine-p2p-uplinks-ip.j2'
      p2p_uplinks_peer_ip: 'ip_addressing/avd-v2-spine-p2p-uplinks-peer-ip.j2'
  l3leaf:
    type: l3leaf
    connected_endpoints: true
    default_evpn_role: server
    mlag_support: true
    # these should, among other things, trigger the processing of vlans and svis in the templates
    network_services:
      l2: true
      l3: true
    vtep: true
  l2leaf:
    type: l2leaf
    connected_endpoints: true
    mlag_support: true
    network_services:
      l2: true
    underlay_router: false
    uplink_type: port-channel
  super_spine:
    type: super-spine
  overlay_controller:
    type: overlay-controller
