---
mgmt_gateway: 10.6.0.1
mgmt_interface: Management0
mgmt_interface_vrf: mgmt
mgmt_destination_networks:
  - 0.0.0.0/0

super_spine:
  defaults:
    platform: 7280R
    bgp_as: 64500
    loopback_ipv4_pool: 10.4.27.0/24
    bgp_defaults:
      - 'no bgp default ipv4-unicast'
      - 'distance bgp 20 200 200'
      - 'graceful-restart restart-time 300'
      - 'graceful-restart'
  nodes:
    SUPER-SPINE1:
      id: 10
      platform: 7060
      bgp_as: 64501
      mgmt_ip: "{{ ansible_host }}/24"
# Next four lines don't have an impact
      mgmt_gateway: 10.6.10.1
      mgmt_interface: Management0
      mgmt_interface_vrf: mgmt
      mgmt_destination_networks:
        - 0.0.0.0/0
      # evpn_role: none
      # evpn_route_servers: []
    SUPER-SPINE2:
      id: 11
      bgp_as: 64502      
      mgmt_ip: "{{ ansible_host }}/24"
      # evpn_role: none
      # evpn_route_servers: []
    SUPER-SPINE3:
      id: 12
      bgp_as: 64503
      mgmt_ip: "{{ ansible_host }}/24"
    SUPER-SPINE4:
      id: 13
      bgp_as: 64504
      mgmt_ip: "{{ ansible_host }}/24"
    SUPER-SPINE5:
      id: 14
      bgp_as: 64505
      mgmt_ip: "{{ ansible_host }}/24"
